.itemImg {
    width: 500px;
    border-radius: 20px;
}
.breadcrumb {
    color: #bbb;
    text-align: left;
}
.info {
    text-align: left;
}
.itemDetails {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.itemFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2em;
}