.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background: #343e48;
}
.navMenu {
    margin-left: auto;
    margin-right: 5em;
}
.navTitle {
    color: #fff;
}
.navItem{
    background: none;
    position: relative;
    border: 0;
    color: #77818c;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    border-radius: 0;
    padding: 10px;
    cursor: pointer;
    text-shadow: 1px 0px rgba(0,0,0,.4);
}
.navItem:hover {
    color: #343e48;
}
.navItem:hover:nth-child(1),
.navItemActive:nth-child(1) { 
    background:#ecc64b; 
}
.navItem:hover:nth-child(2),
.navItemActive:nth-child(2) { 
    background:#0b9ea6; 
}
.navItem:hover:nth-child(3),
.navItemActive:nth-child(3) { 
    background:#f26667; 
}